@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
/* @import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"; */
/* @import "//unpkg.com/@highlightjs/cdn-assets@11.3.1/styles/default.min.css"; */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

li{
  list-style: none;
}

p {
  margin: 15px 0;
  line-height: 1.8;
}

a {
  text-decoration: none;
  color: lightseagreen;
}

pre {
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
 }

.headerLink{
  cursor: pointer;
  margin-left: 20px;
}

.workshopBackground{
  cursor: pointer;
  width: 100%;
}

img {
  width: 100%;
  /* border-radius: 10px; */
}

header {
  background: steelblue;
  color: #fff;
  padding: 5px;
  margin-bottom: 40px;
}

header a {
  color: #fff;
}

.secondHeader{
  background-color: #ecf0f1;
}

.workshopContainer {
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.btn {
  display: inline-block;
  background: steelblue;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}
.startButton{
  align-self: flex-end;
}

header {
  display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
}

header a:hover{
  text-decoration: underline;
  color:#23d5ab
}

.topBar{
  background-color: #2C3E50 !important;
}
header > .topBar{
  width: 70%;
}

.logo{
  width: 50px;
  height: 50px;}

.links{
  display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.links > li{
  list-style: none;
  margin: 0 20px;
}

.drawer-list{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #1976d2;
}

.drawer-item{
  width: 500px;
  margin: 15px;
}

.drawer-click{
  cursor: pointer;
}

.paperWorkshops{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  background-color: #29343f;
}
.paperGrid{
  /* flex-basis: 100% !important;
  max-width: 80% !important;
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-around !important;
  align-items: flex-end !important;
  flex-wrap: wrap !important; */
  display: grid;
  grid-template-columns: 300px 300px 300px 300px;
  justify-content: space-around;
  gap: 30px;
  margin-top: 30px;
  width: 100%;
}

.paperWorkshop{
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.paperWorkshop a{
  font-size: 28px;
  margin: auto;
    width: 50%;
    text-align: center;
  text-decoration: none;
  color: #fff;
  text-shadow: 1px 1px 0 #000,
    -1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000,
    0px 1px 0 #000,
    0px -1px 0 #000,
    -1px 0px 0 #000,
    1px 0px 0 #000,
    2px 2px 0 #000,
    -2px 2px 0 #000,
    2px -2px 0 #000,
    -2px -2px 0 #000,
    0px 2px 0 #000,
    0px -2px 0 #000,
    -2px 0px 0 #000,
    2px 0px 0 #000,
    1px 2px 0 #000,
    -1px 2px 0 #000,
    1px -2px 0 #000,
    -1px -2px 0 #000,
    2px 1px 0 #000,
    -2px 1px 0 #000,
    2px -1px 0 #000,
    -2px -1px 0 #000;
}

.workshops {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 30px;
}

.overlay {
  position: absolute;
  top: 50px;
  background: rgba(0, 0, 0, 0.7); /* Black see-through */
  width: 100%;
  color:white;
  transition: .5s ease;
  font-size: 20px;
  text-align: center;
}
.drawer-over{
  position: relative;
}
.drawer-overlay {
  top: -100px;
}

.card-content{
  padding: 0;
  position: relative;
}

.card-content > h2{
  font-size: 1.5rem;
}

.card-content> p{
  margin: 10px;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.43;
  color:black;
}

.workshop-footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  padding: 0.75rem 1.25rem;
  background-color: rgba(0,0,0,0.03);
  border-top: 1px solid rgba(0,0,0,0.125);
}

.card-page {
  display: block;
  padding: 15px 30px;
  padding: 15px;
  /* border-radius: 10px; */
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.2s;
}

.hero {
  width: 50%;
  justify-self: center;
  align-self: center;
  margin: 10px;
}

.workshop-container{
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.workshop-content{
  max-width: 100%;
}

.WorkshopPage-nav-right{
margin-left: 10px;
}
nav.sidenav {
  max-width: 400px;
      min-width: 300px;
      align-self: flex-start;
      position: sticky;
      top: 96px;
      max-height: calc(100 vh - 144px);
      overflow: auto;
      font-size: 15px;
      padding: 16px;
      z-index: 1;
}

nav > ul > li {
  list-style: none;
  margin-bottom: 10px;
  font-size: 16px;
}

nav.sidenav > ul > li > a:hover {
  /* color: lightseagreen; */
  cursor: pointer;
}

nav.sidenav > ul > li > a.active {
  color: lightseagreen;
  font-weight: bold;
}

nav.sidenav > ul > li > ul > li {
  list-style: none;
  margin-bottom: 10px;
  font-size: 13px;
}

nav.sidenav > ul > li > a > h1 {
  font-size: 13px;
}

nav.sidenav > ul > li > ul > li > a:hover {
  color: lightseagreen;
}

.pagination > nav > ul{
  margin: 0;
}

.muiButton-root {
  background: none;
  border: none;
  padding: 0;
  font-size: 16px;
  cursor: pointer;
  color: #333;
  font-weight: bold;
}

footer {
  background-color: #f7f7f8;
}

.funderImages {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.funderImages > div > a > img {
  max-height: 100px;
  margin-top: 20px;
}

.workshopTest{
background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
